[general]
filename =  iamahappycsv.csv

[mail]
server_name = 
mail_from = 
mail_to= 
server_port = 

[ou]
base = OU=OU, DC=DC, DC=DC
disabled = OU=OU, DC=DC, DC=DC
reunisten = OU=OU, DC=DC, DC=DC

[user]
pw=verysafe
domain=athome
template_user =thetemplateuser
